:root, html {
    margin: 0;
    padding: 0;
}
body {
    margin: 24px 32px;
    padding: 0;
}
form {
    margin: 16px 24px;
}
.intLink { cursor: pointer; }
img.intLink { border: 0; }
#toolBar1 select, #toolBar1 button {
    font-family: 'Inter', sans-serif;
    font-family: 18px;
    box-sizing: border-box;
    height: 26px;
    padding: 4px 6px;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    background-color: #f0f0f0;
    cursor: pointer;
}
#toolBar1 label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
input[type="color"] {
    box-sizing: border-box;
    height: 26px;
    padding: 0;
    border: 1px solid #c0c0c0;
    border-radius: 0;
    vertical-align: bottom;
}
#toolBar2 {
    margin-top: 8px;
}
#textBox {
    width: 540px;
    height: 200px;
    border: 2px solid #b0b0b0;
    outline: 0;
    padding: 12px;
    overflow: scroll;
}
#textBox:focus {
    border: 2px solid #909090;
}
#textBox #sourceText {
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
    outline: 0;
}
#editMode {
    margin: 0;
}
#editMode label {
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}
button[onclick="codeCopy();"] {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
    padding: 4px 6px;
    background-color: #1870f0;
    border: 4px solid #1870f0;
    transition: .3s;
}
button:hover {
    border: 4px solid #085ee0;
    cursor: pointer;
}